<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1084883472368-hck98q02tlojncu111ktv93ipit9karo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1084883472368-hck98q02tlojncu111ktv93ipit9karo</string>
	<key>API_KEY</key>
	<string>AIzaSyAM1259eqBz2fdJnza_9iRsngn_6yzCEv0</string>
	<key>GCM_SENDER_ID</key>
	<string>1084883472368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instaClone</string>
	<key>PROJECT_ID</key>
	<string>insta-clone-3062f</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-clone-3062f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084883472368:ios:b4706a7c0a446792d29735</string>
	<key>DATABASE_URL</key>
	<string>https://insta-clone-3062f-default-rtdb.firebaseio.com</string>
</dict>
</plist>